Flask==1.0.0
gunicorn==19.5.0
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
text-normalizer
nltk==3.4.5
pandas
spacy==2.2.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
bleach==3.1.4
backports.weakref==1.0rc1
html5lib==0.9999999
Markdown==2.6.8
numpy
protobuf==3.3.0
six==1.10.0
textblob==0.12.0
Werkzeug==0.15.3
sklearn
