Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
text-normalizer
nltk
pandas
textblob
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0
backports.weakref==1.0rc1
bleach==1.5.0
html5lib==0.9999999
Markdown==2.6.8
nltk==3.2.4
numpy==1.13.1
protobuf==3.3.0
six==1.10.0
tensorflow==1.2.1
textblob==0.12.0
Werkzeug==0.12.2
allennlp
